<!doctype html>
	<head>
		<title>Songs | LFC Madison</title>
	</head>

<section class="main-body-sect">
        <h2><em>We had dreams and songs to sing...</em></h2>
        <h3><em>"When they start singing ‘You’ll Never Walk Alone’ my eyes start to water. There have been times when I’ve actually been crying while I’ve been playing."</em></h3><p class="centered">&mdash; Kevin Keegan</p>
        
        <h3><em>"Forget the Beatles and all the rest. This is the real Liverpool sound. It's real singing, and it's what the Kop is all about."</em></h3><p class="centered">&mdash; Bill Shankly</p>

<p>Songs and chants are ubiquitous at Anfield. It is a tradition dating back at least to the early 1960s, and is now an integral part of the true matchday experience. Peruse some of the most famous LFC songs using the drop-down navigation menu above.</p>

</section>
