<!doctype html>
	<head>
		<title>Links | LFC Madison</title>
	</head>
	
	<h2>Links to other LFC-related sites</h2>
	
	
	<h3><%= link_to "Links to other LFC Supporters' groups in the USA", '/usasupporters' %></h3>
	<p align="center">For international groups, visit <a href="http://www.liverpoolfc.com/fans/lfc-official-supporters-clubs" target="blank">The Official Liverpool FC website</a></p>

<h3>Hillsborough Family Support Group</h3>
	<p>Thanks to the tireless efforts of the HFSG and other Hillsborough family groups, the truth has finally been acknowledged by the British government and justice is underway. As a result, the families announced the disbanding of the HFSG after the results of the Inquests were announced. So, I've removed the link (and they no longer have a website, nor do they continue to solicit donations), but left this here as a tribute to their extraordinary accomplishments and determination, and in tribute to their 96 loved ones who were unlawfully killed on April 15, 1989.</p>

<h3><a href="http://jamiecarragher23.co.uk">Jamie Carragher's 23 Foundation</a></h3>
	<p>The Reds legend has always been known for his commitment to charity work, especially for the Alder Hey Children's Hospital in Liverpool, and initiatives on Merseyside to help disadvantaged or ill youth. If you are looking for autographs and authentic LFC merchandise, the 23 Foundation is a great way to build your collection and know your purchase will make a difference for the children of Liverpool.</p>
