<!doctype html>
	<head>
		<title>LFC Supporters in the USA</title>
	</head>

<h2>Liverpool supporters' groups in the USA</h2>

<h3 id="midwest">Midwest:</h3>
	<table class="alt-color">
		<thead>
			<th>Location</th>
			<th>Pub</th>
			<th>Contact</th>
		</thead>
		<tbody>
			<tr><td>Madison, WI</td><td><a href="http://www.hotelred.com/the-wise-restaurant-bar/" target="_blank">HotelRED</a></td><td><a href="http://www.lfcmadison.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/lfcmadison" target="_blank">Facebook</a> &nbsp; <a href="http://www.twitter.com/lfcmadison" target="_blank">Twitter</a></td>
			<tr><td>Milwaukee, WI</td><td><a href="http://threelionspub.com" target="_blank">Three Lions Pub</a></td><td><a href="http://www.facebook.com/groups/MKELFC" target="_blank">Facebook &nbsp; <a href="http://www.twitter.com/LFCMKE" target="_blank">Twitter</a></td></tr>
			<tr><td>Chicago, IL</td><td><a href="http://ajhudsonspublichouse.com" target="_blank">A.J. Hudson's</a></td><td><a href="http://www.chicagolfc.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/chicagolfc" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/chicagolfc" target="_blank">Twitter</a></td></tr>
			<tr><td>Minneapolis/St Paul</td><td><a href="http://www.britspub.com" target="_blank">Brit's Pub</a></td><td><a href="http://www.lfcmpls.blogspot.com" target="_blank">Blogspot</a> &nbsp; <a href="https://www.facebook.com/LFCMinneapolis" target="_blank">Facebook</a> &nbsp; <a href="https://twitter.com/LFCMPLS" target="_blank">Twitter</a></td></tr>
			<tr><td>Detroit, MI</td><td><a href="http://www.thomasmagees.com" target="_blank">Thomas Magee's</a></td><td><a href="http://www.lfcdetroit.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/groups/LFCDetroit" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcinthed" target="_blank">Twitter</a></td></tr>
			<tr><td>Indianapolis, IN</td><td><a href="http://unionjackpub.co" target="_blank">Union Jack Pub</a></td><td><a href="http://lfcindy.wordpress.com" target="_blank">WordPress</a> &nbsp; <a href="http://www.facebook.com/LFCIndianapolis" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/LFCIndy" target="_blank">Twitter</a></td></tr>
			<tr><td>St Louis, MO</td><td>various (see website)</td><td><a href="http://www.stlreds.org" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/pages/STL-REDS/265902776798900" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcstlreds" target="_blank">Twitter</a></td></tr>
			<tr><td>Cincinnati, OH</td><td><a href="http://rhinehausbar.com" target="_blank">Rhinehaus Bar</a></td><td><a href="http://www.facebook.com/groups/631656436888222/" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfc_cincinnati" target="_blank">Twitter</a></td></tr>
					
		</tbody>
	</table>

<h3 id="northeast">New England / Northeast:</h3>
	<table class="alt-color">
		<thead>
			<th>Location</th>
			<th>Pub</th>
			<th>Contact</th>
		</thead>
		<tbody>
			<tr><td>New York City</td><td><a href="http://www.11thstbar.com" target="_blank">Eleventh Street Bar</a></td><td><a href="http://www.lfcny.org" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/LFCNY" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcny" target="_blank">Twitter</a></td></tr>
			<tr><td>New York City</td><td><a href="http://bootroomnyc.com/" target="_blank">The Boot Room at the Irish American</a></td><td><a href="http://www.facebook.com/BootRoomNYC" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/nyckopites" target="_blank">Twitter</a></td></tr>	
			<tr><td>Boston, MA</td><td><a href="http://phoenixlandingbar.com" target="_blank">The Phoenix Landing</a></td><td><a href="http://lfcboston.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/lfcboston" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/LFCBoston" target="_blank">Twitter</a></td></tr>
			<tr><td>Baltimore, MD</td><td><a href="http://www.slaintepub.com" target="_blank">Slainte Pub</a></td><td><a href="http://www.lfcbaltimore.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/pages/LFC-Baltimore-Reds/122498617819611" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcbaltimore" target="_blank">Twitter</a></td></tr>
			<tr><td>Philadelphia, PA</td><td><a href="http://www.ironabbey.com" target="_blank">The Iron Abbey</a></td><td><a href="http://www.lfcphilly.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/LFCPhiladelphia" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcphilly_ynwa" target="_blank">Twitter</a></td></tr>
			<tr><td>Pittsburgh, PA</td><td><a href="http://www.piperspub.com" target="_blank">Piper's Pub</a></td><td><a href="http://www.lfcpittsburgh.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/LFCPittsburgh" target="_blank">Facebook</a> &nbsp; <a href="http://www.twitter.com/LFCPittsburgh" target="_blank">Twitter</a></td></tr>
			<tr><td>Buffalo, NY</td><td><a href="http://mesque.com/" target="_blank">Mes Que</a></td><td><a href="http://www.facebook.com/groups/queencitykop" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/queencitykop" target="_blank">Twitter</a></td></tr>
			<tr><td>New Haven, CT</td><td><a href="http://annaliffeys.com" target="_blank">Anna Liffey's</a></td><td><a href="http://lfcconnecticut.tumblr.com" target="_blank">Tumblr</a> &nbsp; <a href="http://twitter.com/LFCConnecticut" target="_blank">Twitter</a></td></tr>
			<tr><td>Washington, D.C.</td><td><a href="http://www.thequeenvicdc.com" target="_blank">The Queen Vic Pub</a></td><td><a href="http://www.lfcdc.net" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/groups/LiverpoolDC" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/DC_LFC" target="_blank">Twitter</a></td></tr>
			
		</tbody>
	</table>
	
<h3 id="south">South:</h3>
	<table class="alt-color">
		<thead>
			<th>Location</th>
			<th>Pub</th>
			<th>Contact</th>
		</thead>
		<tbody>
			<tr><td>Atlanta, GA</td><td><a href="http://www.meehansdowntown.com/downtown_home.html" target="_blank">Meehan's Pub</a></td><td><a href="http://www.lfcatl.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/groups/LFCATL" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcatlanta" target="_blank">Twitter</a></td></tr>
			<tr><td>Austin, TX</td><td><a href="http://www.fadoirishpub.com/austin" target="_blank">Fad&oacute; Irish Pub</a></td><td><a href="http://www.lfcaustin.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/groups/liverpoolfc.austin" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/LFC_Austin" target="_blank">Twitter</a></td></tr>
			<tr><td>Charlotte, NC</td><td>Courtyard Hooligans</td><td><a href="http://www.lfcclt.com/home" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/LFCCharlotteReds" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcclt" target="_blank">Twitter</a></td></tr>
			<tr><td>Dallas, TX</td><td><a href="http://www.londoneraddison.com" target="_blank">The Londoner</a></td><td><a href="http://www.facebook.com/TexasChapterLFC" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/LFCDallas" target="_blank">Twitter</a></td></tr>
			<tr><td>Houston, TX</td><td><a href="http://www.ronspubhouston.com" target="_blank">Ron's Pub</a></td><td><a href="http://houstonlfc.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/OfficialHoustonLFC" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/houstonlfc" target="_blank">Twitter</a></td></tr>
			<tr><td>Knoxville, TN</td><td><a href="http://farragut.thecasualpint.com" target="_blank">The Casual Pint</a></td><td><a href="http://www.facebook.com/groups/LFCKnox" target="_blank">Facebook</a> &nbsp; <a href="https://twitter.com/@LFCKnox" target="_blank">Twitter</td></tr>
			<tr><td>Louisville, KY</td><td><a href="http://www.mollymalonesirishpub.com" target="_blank">Molly Malone's Highlands</a></td><td><a href="http://www.facebook.com/LiverpoolFCKentucky" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfckentucky" target="_blank">Twitter</a></td></tr>
			<tr><td>Memphis, TN</td><td><a href="http://www.celticcrossingmemphis.com" target="_blank">The Celtic Crossing</a></td><td><a href="http://www.facebook.com/groups/136724963077272" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/rufusbranch" target="_blank">Twitter</a></td></tr>
			<tr><td>Miami, FL</td><td><a href="http://www.fadoirishpub.com/miami" target="_blank">Fad&oacute; Irish Pub</a></td><td><a href="http://www.facebook.com/groups/LFCMiami" target="_blank">Facebook</a></td></tr>
			<tr><td>Nashville, TN</td><td><a href="http://www.danmcguinnesspub.com" target="_blank">Dan McGuinness Pub</a></td><td><a href="http://www.facebook.com/groups/504305969629552" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/NashvilleKop" target="_blank">Twitter</a></td></tr>
			<tr><td>Orlando, FL</td><td><a href="http://harpandcelt.com" target="_blank">The Celt</a></td><td><a href="http://twitter.com/407lfcfans" target="_blank">Twitter</a></td></tr>
			<tr><td>Raleigh, NC</td><td><a href="http://www.thelondonbridgepub.com" target="_blank">The London Bridge Pub</a></td><td><a href="http://lfcraleigh.com" target="_blank">Website</a> &nbsp; <a href="https://www.facebook.com/groups/349200515150682" target="_blank">Facebook</a> &nbsp; <a href="https://twitter.com/LFCRaleigh" target="_blank">Twitter</a></td></tr>
			<tr><td>San Antonio, TX</td><td><a href="http://sherlockspub.com/San-Antonio" target="_blank">Sherlock's Pub</a></td><td><a href="http://www.facebook.com/LFCSanAntonio" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/LFCSanAntonio" target="_blank">Twitter</a></td></tr>
			<tr><td>Charleston, SC</td><td><a href="http://madraruapub.com" target="_blank">Madra Rua Irish Pub</a></td><td><a href="http://www.olsc-sc.org/home-1.html" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/groups/213396555367777" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfc_sc" target="_blank">Twitter</a></td></tr>
		</tbody>
	</table>

<h3 id="west">West:</h3>
	<table class="alt-color">
		<thead>
			<th>Location</th>
			<th>Pub</th>
			<th>Contact</th>
		</thead>
		<tbody>
			<tr><td>Denver, CO</td><td><a href="http://theabbeytaverndenver.com" target="_blank">The Abbey Tavern</a></td><td><a href="http://www.facebook.com/ColoradoReds" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/ColoradoReds" target="_blank">Twitter</a></td></tr>
			<tr><td>Los Angeles, CA</td><td><a href="http://www.joxerdalysirishpub.com" target="_blank">Joxer Daly's Pub</a></td><td><a href="http://www.facebook.com/TheLFCLA" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/TheLFCLA" target="_blank">Twitter</a></td></tr>
			<tr><td>Orange County, CA</td><td><a href="http://aulddubliner.com" target="_blank">The Auld Dubliner</a></td><td><a href="http://www.facebook.com/groups/lfcorangecounty" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/TheLFCOC" target="_blank">Twitter</a></td></tr>
			<tr><td>Phoenix, AZ</td><td><a href="http://www.stevesgreenhousegrill.com" target="_blank">Steve's Greenhouse Grill</a></td><td><a href="https://www.facebook.com/groups/LFCPHX">Facebook</a> &nbsp; <a href="http://twitter.com/LFCPHX" target="_blank">Twitter</a></td></tr>
			<tr><td>Portland, OR</td><td><a href="http://www.442soccerbar.com/hawthorne/index.php" target="_blank">442 Soccer Bar</a></td><td><a href="http://www.facebook.com/groups/226695047474611" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfc_pdx" target="_blank">Twitter</a></td></tr>
			<tr><td>San Diego, CA</td><td><a href="http://www.princesspub.com" target="_blank">Princess Pub</a></td><td><a href="http://www.facebook.com/groups/lfcsandiego" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/TheLFCSD" target="_blank">Twitter</a></td></tr>
			<tr><td>San Francisco, CA</td><td><a href="http://www.thekezarpub.com" target="_blank">The Kezar Pub</a></td><td><a href="http://lfcsanfrancisco.com" target="_blank">Website</a> &nbsp; <a href="https://www.facebook.com/LFCSanfrancisco" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcsf" target="_blank">Twitter</a></td></tr>
			<tr><td>Seattle, WA</td><td><a href="http://www.standrewsbarandgrill.com" target="_blank">St Andrew's Bar</a></td><td><a href="http://www.lfcseattle.com" target="_blank">Website</a> &nbsp; <a href="http://www.facebook.com/groups/lfcseattle" target="_blank">Facebook</a> &nbsp; <a href="http://twitter.com/lfcseattle" target="_blank">Twitter</a></td></tr>
			
		</tbody>
	</table>

<h4>Have a group that we should add?</h4>
<p class="centered">If you would like us to add your LFC supporters' group on this page, send an email to <a href="mailto:michael@lfcmadison.com">michael@lfcmadison.com</a> with the info.</p>

