<!doctype html>

	<head>
		<title>Contact Us | LFC Madison</title>
	</head>

<h2>Contact LFC Madison</h2>

<h3>Interim board members:</h3>

<table class="alt-color">
        <thead><th>Position</th><th>Name</th><th>Contact</th></thead>
        <tbody>
                <tr><td><strong>President / Co-founder</strong></td><td>Bryn Griffiths</td><td><a href="mailto:bryn@lfcmadison.com">bryn@lfcmadison.com</a></td></tr>
                <tr><td><strong>Secretary / Co-founder</strong></td><td>Michael Schumacher</td><td><a href="mailto:michael@lfcmadison.com">michael@lfcmadison.com</a> &nbsp; <a href="mailto:secretary@lfcmadison.com">secretary@lfcmadison.com</a></td></tr>
                <tr><td><strong>Treasurer / Co-founder</strong></td><td>Tim Kessler</td><td><a href="mailto:tim@lfcmadison.com">tim@lfcmadison.com</a></td></tr>
        </tbody>
</table>

<p>The most obvious and direct way to contact us is to simply come out to the pub on matchday and talk to us. Otherwise, you can email us or send a message to our <a href="http://www.facebook.com/LFCMadison" target="_blank">Facebook account</a>.</p>

