<!doctype html>
	<head>
		<title>About LFC Madison</title>
	</head>

<h1>The History of LFC Madison</h1>

<div id="begin">
	<p>	<figure id="first" class="photos"><%= image_tag 'about/first_lfc_mad.jpg' %><figcaption>First LFC Madison photo 24 Aug 2013</figcaption></figure>Madison has always been home to Liverpool FC supporters, but they were scattered throughout town, watching at home or going bar-to-bar each week to find an establishment showing the match. In the summer of 2013, two supporters began forming a cohesive supporters' group. After watching the first match of the 2013-14 Premier League season together, LFC Madison was formed.</p>
</div>

<div id="middle">
	<p><figure id="second" class="photos"><%= image_tag 'about/lfc_mad_title_race.jpg' %><figcaption>Watching at Coopers as LFC play Man City in the heat of the 2014 title race</figcaption></figure>
	The group enjoyed steadily growing numbers at The Coopers Tavern for every match. By Thanksgiving 2013, a dozen supporters became regulars for match viewing. The Reds' unforgettable title challenge aided LFC Madison’s growth, and, by April, the entire bar was filled with LFC Madison members.</p>
</div>

<div id="next">
	<p><figure id="third" class="photos"><%= image_tag 'about/may2015group.jpg' %><figcaption>The crowd for Stevie G's last Anfield match</figcaption></figure>
	We established a core group of dedicated followers providing a constant presence and lively atmosphere at The Coopers Tavern on all Liverpool matchdays.</p>
</div>

<div id="close">
	<p><figure id="fourth" class="photos"><%= image_tag 'about/group_with_flag.jpg' %><figcaption>Our first match at HotelRED, July 2015</figcaption></figure>In the summer of 2015, we were approached by the management at HotelRED, who wanted to invite our supporters' group to watch the matches in their bar. After receiving their offer and speaking with management at The Coopers Tavern, the matter was put to a vote. By a narrow margin, it was decided to move to HotelRED for the start of the 2015-16 season. The introduction of J&uuml;rgen Klopp as manager ushered in a new enthusiasm, and with two cup finals in his first partial season, the German did not disappoint. Our first season at HotelRED brought many benefits for our local group, but also a few issues to be worked out &mdash; primarily the problem of Badger football gamedays. Still, we are happy at our new home, and have chosen to stay there for the present.</p>

<script>
$('img').css({'display':'inline-block', 'height':'150px'});
$('#first').css('float','right');
$('#second').css('float','left');
$('#third').css('float','right');
$('#begin').css('margin-bottom','5px');
$('#middle').css('margin-bottom','5px');
$('#next').css('margin-bottom','5px');
$('#close').css('margin-bottom','5px');
</script>
