<!doctype html>
	<head>
		<title>HotelRED | LFC Madison</title>
	</head>
	
<h2>Wondering where to watch the match in Madison?</h2>

<p>For the typical matchday, we watch at <b>HotelRED</b>&mdash;at the end of Monroe Street, right across from Camp Randall. This is very close to most of the UW dorms, and we <b>have permission to use their parking lot off Regent Street during matches</b>. Our discounts include 2-for-1 on Wisconsin Brewing Company beers, 25% off Bloody Marys, and 25% off food menu items for LFC Madison members on matchdays. When available, we have a private room near the bar to watch the match, otherwise we watch at the bar.</p>

<p>If a Liverpool match conflicts with a Badger football home game, watching at HotelRED is not really feasable, due to the nature of their location. In this case, we watch at <b>The Coopers Tavern</b> (20 W Mifflin St) on the Square, where real football is always given preference over American Football.</p>


