<!doctype html>
	<head>
		<title>Membership | LFC Madison</title>
	</head>
	
	<p>If you watch the matches with us, you should consider becoming an official LFC Madison member. There is no cost to join, and there are many reasons to do so.</p>

	<h2>Why should you become an official member?</h2>

	<p>The primary reason for instituting membership is so we can work towards our goal of becoming an officially-recognized LFC Supporters' Club (OLSC). Since Liverpool is such a popular club throughout the world, the club has had to enforce minimum requirements before considering a group for OLSC status. Once we have reached that milestone, LFC Madison membership will also be important for exciting opportunities such as priority ticketing.</p>

	<p>Membership with LFC Madison also gets you discounts at HotelRED on matchdays, including 2-for-1 Wisconsin Brewing Co beers, 25% off bloody marys, and 25% off food orders.</p>

	<h2>How to join</h2>

	<p>The easiest way to join is to fill out the <%= link_to "online form", '/join' %>. Alternatively, you can send an email to secretary@lfcmadison.com, or simply talk to us at the pub during (read: before, after, or at halftime) the match.</p>
